<section class="listar-vagas">
<div *ngFor="let vaga of vagas">

  <div class="card" style="width: 18rem;">
    <img src="assets\img\vagas\{{vaga.foto}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Codigo da vaga {{vaga.id}}</h5>
      <h5 class="card-title">Vaga {{vaga.nome}}</h5>
      <p class="card-text">Descricao da vaga {{vaga.descricao}}</p>
      <p class="card-text">Salario : R${{vaga.salario}},00</p>
      <a href="#" class="btn btn-primary">Candidatar-se</a>
    </div>
  </div>
</div>
</section>
